{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}
<h1>Our Customers</h1>

<table>
    <tr>
        <th>ID 
            <a href="/python2/customers?sort=id" class="btn">Sort by ID</a>
        </th>
        <th>Name 
            <a href="/python2/customers?sort=name" class="btn">Sort by Name</a>
        </th>
        <th>Actions</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>
            <a href="/python2/customers/{{ customer.id }}">
                View Profile
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
